            
<div class="px-0 " style="background-color: #FFFFFF;">
    <div class="header">
      <div class="menu-bar">
        <nav class="navbar navbar-expand-lg" style="background-color:white;margin-bottom: 10px;">
            <div class="both">
                <a class="navbar-brand" style="margin-left: 20px;" href="#"><img src="../../assets/img/avatars/gkl.png"></a>
            <div style="margin-top:20px;margin-left: 30px;">
              <h6 >Kaveri Online Services</h6>
              <span>Department of Stamps and Registration,Government of Karnataka</span>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ">
                    <li ><img class="bel" src="../../assets/img/avatars/bell.png"></li>
                    <li class="nav-item ">
                    <a class="nav-link" href="#">
                    <button class="btn btn-primary">Logout</button></a>
                    </li>
                </ul>
          </div>
            </div>
        </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class="bi-bootstrap fs-1"></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <img src="../../assets/img/avatars/icon1.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <img src="../../assets/img/avatars/icon2.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <img src="../../assets/img/avatars/icon3.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <img src="../../assets/img/avatars/icon4.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon5.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon6.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon7.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon8.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon9.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon10.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon11.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon12.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <div class="container-fluid px-0 deo">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../../assets/img/avatars/circle.png" height="65px" width="65px" style="margin-left: 10px;"/>
                    </div>
                    <div class="col-md-3 ">
                        <p>Welcome Tanmay</p>
                        <span>DEO- BENGGALURU URBAN</span>
                    </div>
                    <div class="col-md-8">
                        <p>LAST LOGIN :</p>
                        <span>12TH OCTOBER 2021 8.34AM</span>
                    </div>
                </div>
            </div>
            <div class="container-fluid book" >
                <div class="row">
                    <div class="col-md-9">
                        <h6 class="font-weight-bold">Book II- Refusal Register</h6>
                    </div>
                    <div class="col-md-3">
                        <form class="example">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row ">
                    <table class="table table-stripped">
                        <thead>
                            <tr style="background-color:#B2B2B2;color:white">
                                <th scope="col">S.No.</th>
                                <th scope="col">Application Number</th>
                                <th scope="col">Pending Number</th>
                                <th scope="col">Presentation Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Application Type</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.30AM-10.00AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>AP212001335016514</td>
                                <td>AP212001335016514</td>
                                <td>08-08-2021</td>
                                <td>9.00AM-9.30AM</td>
                                <td>Property Registration</td>
                                <td><button class="btn btn-primary">Preview</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer >
                <div class="page-footer">
                    <p>Accessibility Statement | Terms & Conditions | Website Policies | Help | Feedback | Contact Us | Web Information Manager | FAQ | Sitemap | Visitors Analytics</p>
                </div>
                <div class="copyright">
                    <p>©2021, Department of Stamps and Registration, Karnataka</p>
                </div>
            </footer>
        </div>
    </div>
</div>
