            
<div class="px-0 " style="background-color: #FFFFFF;">
    <div class="header">
      <div class="menu-bar">
        <nav class="navbar navbar-expand-lg" style="background-color:white;margin-bottom: 10px;">
            <div class="both">
                <a class="navbar-brand" style="margin-left: 20px;" href="#"><img src="../../assets/img/avatars/gkl.png"></a>
            <div style="margin-top:20px;margin-left: 30px;">
              <h6 >Kaveri Online Services</h6>
              <span>Department of Stamps and Registration,Government of Karnataka</span>
            </div>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ">
                    <li ><img class="bel" src="../../assets/img/avatars/bell.png"></li>
                    <li class="nav-item ">
                    <a class="nav-link" href="#">
                    <button class="btn btn-primary">Logout</button></a>
                    </li>
                </ul>
          </div>
            </div>
        </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class="bi-bootstrap fs-1"></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <img src="../../assets/img/avatars/icon1.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <img src="../../assets/img/avatars/icon2.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <img src="../../assets/img/avatars/icon3.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <img src="../../assets/img/avatars/icon4.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon5.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon6.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon7.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon8.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon9.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon10.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon11.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <img src="../../assets/img/avatars/icon12.png" class="rounded-circle" height="50px" width="50px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <div class="px-0 deo">
                <div class="row">
                    <div class="col-md-1">
                        <img src="../../assets/img/avatars/circle.png" height="65px" width="65px" style="margin-left: 10px;"/>
                    </div>
                    <div class="col-md-3 ">
                        <p>Welcome Tanmay</p>
                        <span>DEO- BENGGALURU URBAN</span>
                    </div>
                    <div class="col-md-8">
                        <p>LAST LOGIN :</p>
                        <span>12TH OCTOBER 2021 8.34AM</span>
                    </div>
                </div>
            </div>
              
              <!-- </div>    -->

              <div style="width:100%;margin-top:10px;;background: #FFFFFF 0% 0% no-repeat padding-box;
              box-shadow: 3px 3px 6px #0000001A;
              border: 1px solid #E1E1E1;
              opacity: 1;">

              <div class="row">
    
                <div class="row mt-5">
                  <div class="col-sm-1" style="width:10px;">
                    
                    <div class="v4"></div>
                
                  </div>
                  <div class="col-sm-3"style="margin-left:20px;">
                    <p style="font-weight:bold;">Edit Court Order</p>
                  </div>
                </div>

            
            </div>
            <div>
            <div class="row">
            <div class="col-sm-3">
         <p style="color:#4E4E4E;   font: normal normal normal 18px/40px Segoe UI;
         margin-left:20px;" > 
        <strong> ORDER NUMBER</strong><span style="color: red;">*</span></p>     
         <input type="text" placeholder="value" class="p-2 " style="border: 2px solid var(--unnamed-color-0a429b);
         background: #FFFFFF 0% 0% no-repeat padding-box;
         border: 2px solid #0A429B;
         border-radius: 5px;
         opacity: 1;
         width:240px; margin-left:20px;">         
            
            </div>  
            <div class="col-sm-3">
                <p style="color:#4E4E4E;   font: normal normal normal 18px/40px Segoe UI;
                " > 
                <strong>ISSUING AUTHORITY</strong><span style="color: red;">*</span></p>     
                <input type="text" placeholder="value" class="p-2 " style="border: 2px solid var(--unnamed-color-0a429b);
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #0A429B;
                border-radius: 5px;
                opacity: 1;
                width:240px;">         
                   
                   </div>  
                   <div class="col-sm-3">
                    <p style="color:#4E4E4E;   font: normal normal normal 18px/40px Segoe UI;
                    " > 
                   <strong>REGISTRATION ARTICLE</strong><span style="color: red;">*</span></p>     
                    <input type="text" placeholder="value" class="p-2 "style="border: 2px solid var(--unnamed-color-0a429b);
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 2px solid #0A429B;
                    border-radius: 5px;
                    opacity: 1;
                    width:240px;">         
                       
                       </div>  
                       <div class="col-sm-3">
                        <p style="color:#4E4E4E;   font: normal normal normal 18px/40px Segoe UI;
                        " > 
                        <strong>DATE OF ISSUE</strong><span style="color: red;">*</span></p>     
                        <input type="text" placeholder="value" class="p-2 "style="border: 2px solid var(--unnamed-color-0a429b);
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 2px solid #0A429B;
                        border-radius: 5px;
                        opacity: 1;
                        width:240px;">         
                           
                           </div>  
                           <div>
                            <p style="color:#4E4E4E;   font: normal normal normal 18px/40px Segoe UI;
                            margin-left:20px; margin-top: 10px;" > 
                            <strong>DATE OF ISSUE</strong><span style="color: red;">*</span></p>     
                            <textarea type="textarea" rows="6" cols="152" placeholder="value" class="p-2" style="border: 2px solid var(--unnamed-color-0a429b);
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 2px solid #0A429B;
                            border-radius: 5px;
                            opacity: 1;
                            margin-left:20px;"> </textarea>        
                            </div>  
                    <div class="row" style="margin-left: 20px;margin-top: 10px;">
                        <div class="col-md-3">
                            <input type="checkbox" /><span class="p-3">Is in force</span>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" /><span class="p-3">Is Cancelled</span>
                        </div>
                        <div class="col-md-6">
                            <p style="color: #0A429B;"><strong>Cancellation Details</strong></p>
                        </div>
                       
                    </div>

            </div>
        </div>
            </div>

            <!-- second card -->

    <div style="width:98%;margin-top:10px;;background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 3px 3px 6px #0000001A;
            border: 1px solid #E1E1E1;
            opacity: 1;">

            <div class="row">
  
              <div class="row mt-5">
                <div class="col-sm-1" style="width:10px;">
                  
                  <div class="v4"></div>
              
                </div>
                <div class="col-sm-3"style="margin-left:20px;">
                  <p style="font-weight:bold;">Add Court Order</p>
                </div>
                <div style="background-color:#0A429B;width:100%;height:40px;margin-left: 12px;">
                    <li style="margin-left:20px;color:white;position: relative;top:8px">Property 1 of 1</li>
                    <li style="margin-left:950px;color:white;position: relative;top:8px">Delete</li>
                </div>
    
              </div>
          </div>
          <div style="margin-left: 20px;">
              <input type="checkbox" /><label  class="p-4">Is Agricultural Property</label>
          </div>

          <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" style="margin-left:20px;">
        <label><strong>ORDER NUMBER</strong><span style="color:red">*</span></label>  
        <input type="text" placeholder="value"  class="p-2" style="border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;
        width:240px;">    
         
        </div>  
        <div class="col-sm-3" style="margin-left:20px;">
            <label><strong>ISSUING AUTHORITY</strong><span style="color:red">*</span></label>  
            <input type="text" placeholder="value"  class="p-2" style="border: 2px solid var(--unnamed-color-0a429b);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #0A429B;
            border-radius: 5px;
            opacity: 1;
            width:240px;">    
             
            </div> 
            <div class="col-sm-3" style="margin-left:20px;">
                <label><strong>DATE OF ISSUE</strong><span style="color:red">*</span></label>  
                <input type="text" placeholder="value"  class="p-2" style="border: 2px solid var(--unnamed-color-0a429b);
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #0A429B;
                border-radius: 5px;
                opacity: 1;
                width:240px;">    
                 
                </div> 

                <div class="col-sm-8 mt-5" >
                    <input type="text"placeholder="value" style="margin-left:20px;width:1180px;height:80px;border: 2px solid var(--unnamed-color-0a429b);
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 2px solid #0A429B;
                    border-radius: 5px;
                    opacity: 1;">
                </div>
        
        </div>


          </div>

          <div style="width:98%;margin-top:10px;;background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 3px 3px 6px #0000001A;
          border: 1px solid #E1E1E1;
          opacity: 1;">

          <div class="row">

            <div class="row mt-5">
              <div class="col-sm-1" style="width:10px;">
                
                <div class="v4"></div>
            
              </div>
              <div class="col-sm-3"style="margin-left:20px;">
                <p style="font-weight:bold;">Add Property Details</p>
              </div>
            </div>
        </div>

<div style="background-color:blue;width:100%;">
    <p style="margin-left:20px;color:white">Property 1 of 1</p>

</div>

<div class="row">

<div class="col-sm-5 mt-3" style="margin-left:20px;">
<label>    <input type="checkbox">
    Is Agricultural Property</label>    

</div> 

</div>

<div class="row mt-4">
    
<div class="col-sm-3" style="margin-left:20px;">
    
    <label for="cars">District</label><br>
    <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;
    opacity: 1;">
      <option value="volvo">value</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
</div>

<div class="col-sm-3">
    
    <label for="cars">District</label><br>
    <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;
    opacity: 1;">
      <option value="volvo">value</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
</div>
<div class="col-sm-3" style="margin-left:20px;">
    
    <label for="cars">District</label><br>
    <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;
    opacity: 1;">
      <option value="volvo">value</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
</div>

</div>
<p class="mt-4" style="margin-left:20px;">BOUNDRIES</p>

<div class="row mt-4">
    
    <div class="col-sm-3" style="margin-left:20px;">
        
        <label for="cars">East</label><br>
        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
          <option value="volvo">value</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </div>
    
    <div class="col-sm-3">
        
        <label for="cars">West</label><br>
        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
          <option value="volvo">value</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-sm-3" style="margin-left:20px;">
        
        <label for="cars">North</label><br>
        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
          <option value="volvo">value</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </div>

    
    <div class="col-sm-8 mt-5" >
        <input type="text"placeholder="value" style="margin-left:20px;width:1180px;height:80px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
    </div>
    <!-- <div class="col-sm-3">
        <label>Area</label>
        <input type="text" placeholder="value" style="border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;
        width:240px;">  
    
    </div> -->
    <p></p>
    <div class="col-sm-3" style="margin-left:20px">
        <label>Area</label><br>
        <input type="text" placeholder="value" style="border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;
        width:220px;">  
    
    </div>
    <div class="col-sm-3" style="margin-left:20px;">
        
        <label for="cars">MEASUREMENT UNITS</label><br>
        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
          <option value="volvo">value</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-sm-5" style="margin-left:20px">
        <label>EXTENT DESCRIPTION</label><br>
        <input type="text" placeholder="value" style="border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;
        width:520px;">  
    
    </div>


    <label style="margin-top:30px;margin-left:20px;">PROPERTY NUMBER DETAILS</label>
    <p style="margin-left:20px;">Enter one or more details to further improve your search</p>
    <hr style="width:90%;margin-left:20px;">
    </div>
    
<div class="row">
    <div class="col-sm-3" style="margin-left:20px;">
        
        <label for="cars">PROPERTY NUMBER TYPE</label><br>
        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;
        opacity: 1;">
          <option value="volvo">value</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
    </div>
    <div class="col-sm-3">
        <label>OLD PROPERTY NUMBER DETAILS</label>
    <input type="text" placeholder="value" style="width:220px; background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;">
    </div>
    <div class="col-sm-3">
        <label>PRESENT PROPERTY NUMBER DETAILS</label>
    <input type="text" placeholder="value" style="width:220px; background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;">
    </div>
    <div class="col-sm-2 mt-4">
    <p style="color:blue;font-weight: bold;">Delete</p>    
    </div>
    
</div>
<hr style="width:94%;margin-left:20px;">
<p style="color:blue;font-weight: bold;margin-left:20px;">Add more details </p>    
<hr style="width:94%;margin-left:20px;">
<p style="color:blue;font-weight: bold;margin-left:20px;">Add more Property </p>    


</div>

<div style="width:98%;margin-top:10px;;background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 3px 3px 6px #0000001A;
border: 1px solid #E1E1E1;
opacity: 1;">

<div class="row">

  <div class="row mt-5">
    <!-- <div class="col-sm-1" style="width:10px;">
      
      <div class="v4"></div>
  
    </div> -->
    <div class="col-sm-3"style="margin-left:20px;">
      <p style="font-weight:bold;">Add Party Details</p>
    </div>
  </div>
</div>

<div style="background-color:blue;width:100%;">
<p style="margin-left:20px;color:white">Party 1 of 1</p>

</div>



<div class="row mt-4">

<div class="col-sm-3" style="margin-left:20px;">

<label for="cars">SALUTATION</label><br>
<select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #0A429B;
border-radius: 5px;
opacity: 1;">
<option value="volvo">value</option>
<option value="saab">Saab</option>
<option value="opel">Opel</option>
<option value="audi">Audi</option>
</select>
</div>

<div class="col-sm-3">

<label for="cars">FIRST NAME</label><br>

<input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #0A429B;
border-radius: 5px;">
<!-- <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #0A429B;
border-radius: 5px;
opacity: 1;">
<option value="volvo">value</option>
<option value="saab">Saab</option>
<option value="opel">Opel</option>
<option value="audi">Audi</option>
</select> -->
</div>
<div class="col-sm-3" style="margin-left:20px;">

<label for="cars">MIDDLE NAME</label><br>

<input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #0A429B;
border-radius: 5px;">

</div>
<div class="col-sm-2">

    <label for="cars">LAST NAME</label><br>
    
    <input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #0A429B;
    border-radius: 5px;">
    
    </div>
    <div class="col-sm-2" style="margin-left:20px;">

        <label for="cars">AGE</label><br>
        
        <input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #0A429B;
        border-radius: 5px;">
        
        </div>


        <p style="margin-left:20px">ADDRESS</p>

        <div class="col-sm-3" style="margin-left:20px;">

            <label for="cars">House No./Building Name<span style="color:red">*</span></label><br>
            
            <input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #0A429B;
            border-radius: 5px;">
            
            </div>


            <div class="col-sm-3" style="margin-left:20px;">

                <label for="cars">Street Address <span style="color:red">*</span></label><br>
                
                <input type="text" placeholder="value" style="width:220px;background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #0A429B;
                border-radius: 5px;">
                
                </div>

                <div class="col-sm-2" style="margin-left:20px;">

                    <label for="cars">State<span style="color:red">*</span></label><br>
                    <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 2px solid #0A429B;
                    border-radius: 5px;
                    opacity: 1;">
                    <option value="volvo">value</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    </select>
                    </div>
                    <div class="col-sm-2" style="margin-left:20px;">

                        <label for="cars">District<span style="color:red">*</span></label><br>
                        <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 2px solid #0A429B;
                        border-radius: 5px;
                        opacity: 1;">
                        <option value="volvo">value</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                        </select>
                        </div>
                        <div class="col-sm-2" style="margin-left:20px;">

                            <label for="cars">City/village</label><br>
                            <select name="cars" id="cars" style="width:220px;height:40px;border: 2px solid var(--unnamed-color-0a429b);
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 2px solid #0A429B;
                            border-radius: 5px;
                            opacity: 1;">
                            <option value="volvo">value</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                            </select>
                            </div>
                            <div class="col-sm-2" style="margin-left:20px;">

                                <label for="cars">District<span style="color:red">*</span></label><br>
                                <input type="text">
                                
                                </div>
</div>
<hr style="width:95%;margin-left:20px;">
<p style="color:blue;margin-left:20px;font-weight:bold">Add more party</p>


</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-1"></div>

<div class="col-sm-2">
    
<button type="button" class="btn btn-primary" style="background-color:blue;margin-left:80px;">Save</button>

</div>   
<div class="col-sm-2">
    
    <button type="button" class="btn btn-" style="color:blue;">Cancel</button>
    
    </div> 
</div>
